.bgGrid {
  background-image: linear-gradient(
      to right,
      var(--grid-color) 3px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grid-color) 3px, transparent 1px);
  background-size: var(--grid-size) var(--grid-size);
  background-color: var(--bg-dark);
}

.glowCircle {
  position: absolute;
  width: 2000px;
  height: 600px;
  background: radial-gradient(circle, #397ded, transparent 45%);
  filter: blur(600px);
  z-index: 1;
}

.contentPosition {
  position: relative;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background: var(--color-main-green);
  box-shadow: 0 0 8px rgba(34, 197, 94, 0.6);
}

.pulse {
  position: relative;
}

.pulse::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  background: var(--color-main-green);
  animation: pulse 1.5s infinite;
  transform-origin: center;
}

.statusIndicator {
  display: inline-flex;
  animation: floatUpDown 2s ease-in-out infinite;
}

.imageSplitShadow {
  border-radius: 50%;
  box-shadow: 35px 5px 40px 0 #a557f6, -35px 5px 40px 0 #7a87f9;
}

.spanTextGradient {
  position: relative;
  display: inline;
  background: linear-gradient(
    270deg,
    #a557f6,
    #7a87f9,
    #a557f6,
    #7a87f9,
    #a557f6,
    #7a87f9,
    #a557f6,
    #7a87f9
  );
  background-size: 600% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shift 5s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }

  70% {
    transform: scale(2.2);
    opacity: 0;
  }

  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(6px);
  }

  50% {
    transform: translateY(-6px);
  }
}

@keyframes shift {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
